extends ../layout

block content
	// main container
	.content
		.container-fluid
			#pad-wrapper.users-list
				.row-fluid.header
					h3 公司状态
					.span6.pull-right
						input.span8.search(type='text', placeholder="Type a user's name...")
						// custom popup filter
						// styles are located in css/elements.css
						// script that enables this dropdown is located in js/theme.js
						a.btn-flat.success.pull-right(href='#')
							span +
							| 	                            Search
				// Users table
				.row-fluid.table
					table.table.table-hover.span6
						thead
							tr
								th.span8.sortable
									| 姓名
								th.span4.sortable
									span.line
									| 状态
						tbody
							// row
							tr.first
								td
									img.img-circle.avatar.hidden-phone(src='/img/contact-img.png')
									a.name(href='user-profile.html') Alejandra Galvan Castillo
									span.subtext Graphic Design
								td
									| 上班
					table.table.table-hover.span6
						thead
							tr
								th.span8.sortable
									| 姓名
								th.span4.sortable
									span.line
									| 状态
						tbody
							// row
							tr.first
								td
									img.img-circle.avatar.hidden-phone(src='/img/contact-img.png')
									a.name(href='user-profile.html') Alejandra Galvan Castillo
									span.subtext Graphic Design
								td
									| 请假
							
				// end users table
	// end main container
	// scripts
	script(src='http://code.jquery.com/jquery-latest.js')
	script(src='/js/bootstrap.min.js')
	script(src='/js/jquery-ui-1.10.2.custom.min.js')
	// knob
	script(src='/js/jquery.knob.js')
	// flot charts
	script(src='/js/jquery.flot.js')
	script(src='/js/jquery.flot.stack.js')
	script(src='/js/jquery.flot.resize.js')
	script(src='/js/theme.js')
	script(type='text/javascript').
		$(function() {
			$('.arr_index').addClass("active");
			$('.arr_index').append("<div class='pointer'><div class='arrow'></div><div class='arrow_border'></div></div>");
		});

	div(style='display:none')
		script(src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540', language='JavaScript', charset='gb2312')
