extends ../layout

block content
	// main container
	.content
		.container-fluid
			#pad-wrapper.users-list
				.row-fluid.header
					h3 Users
					.span10.pull-right
						input.span5.search(type='text', placeholder="Type a user's name...")
						// custom popup filter
						// styles are located in css/elements.css
						// script that enables this dropdown is located in js/theme.js
						.ui-dropdown
							a.btn-flat.success.pull-right(href='#')
								span +
								| 	                            NEW USER
				// Users table
				.row-fluid.table
					table.table.table-hover
						thead
							tr
								th.span4.sortable
									| Name
								th.span3.sortable
									span.line
									| Signed up
								th.span2.sortable
									span.line
									| Total spent
								th.span3.sortable.align-right
									span.line
									| Email
						tbody
							// row
							tr.first
								td
									img.img-circle.avatar.hidden-phone(src='img/contact-img.png')
									a.name(href='user-profile.html') Alejandra Galvan Castillo
									span.subtext Graphic Design
								td
									| Mar 13, 2012
								td
									| $ 4,500.00
								td.align-right
									a(href='#') alejandra@canvas.com
				.pagination.pull-right
					ul
						li
							a(href='#') ‹
						li
							a.active(href='#') 1
						li
							a(href='#') 2
						li
							a(href='#') 3
						li
							a(href='#') 4
						li
							a(href='#') 5
						li
							a(href='#') ›
				// end users table
	// end main container
	// scripts
	script(src='http://code.jquery.com/jquery-latest.js')
	script(src='js/bootstrap.min.js')
	script(src='js/jquery-ui-1.10.2.custom.min.js')
	// knob
	script(src='js/jquery.knob.js')
	// flot charts
	script(src='js/jquery.flot.js')
	script(src='js/jquery.flot.stack.js')
	script(src='js/jquery.flot.resize.js')
	script(src='js/theme.js')
	script(type='text/javascript').
		$(function () {
		// jQuery Knobs
		$(".knob").knob();
		// jQuery UI Sliders
		$(".slider-sample1").slider({
		value: 100,
		min: 1,
		max: 500
		});
		$(".slider-sample2").slider({
		range: "min",
		value: 130,
		min: 1,
		max: 500
		});
		$(".slider-sample3").slider({
		range: true,
		min: 0,
		max: 500,
		values: [ 40, 170 ],
		});
		// jQuery Flot Chart
		var visits = [[1, 50], [2, 40], [3, 45], [4, 23],[5, 55],[6, 65],[7, 61],[8, 70],[9, 65],[10, 75],[11, 57],[12, 59]];
		var visitors = [[1, 25], [2, 50], [3, 23], [4, 48],[5, 38],[6, 40],[7, 47],[8, 55],[9, 43],[10,50],[11,47],[12, 39]];
		var plot = $.plot($("#statsChart"),
		[ { data: visits, label: "Signups"},
		{ data: visitors, label: "Visits" }], {
		series: {
		lines: { show: true,
		lineWidth: 1,
		fill: true,
		fillColor: { colors: [ { opacity: 0.1 }, { opacity: 0.13 } ] }
		},
		points: { show: true,
		lineWidth: 2,
		radius: 3
		},
		shadowSize: 0,
		stack: true
		},
		grid: { hoverable: true,
		clickable: true,
		tickColor: "#f9f9f9",
		borderWidth: 0
		},
		legend: {
		// show: false
		labelBoxBorderColor: "#fff"
		},
		colors: ["#a7b5c5", "#30a0eb"],
		xaxis: {
		ticks: [[1, "JAN"], [2, "FEB"], [3, "MAR"], [4,"APR"], [5,"MAY"], [6,"JUN"],
		[7,"JUL"], [8,"AUG"], [9,"SEP"], [10,"OCT"], [11,"NOV"], [12,"DEC"]],
		font: {
		size: 12,
		family: "Open Sans, Arial",
		variant: "small-caps",
		color: "#697695"
		}
		},
		yaxis: {
		ticks:3,
		tickDecimals: 0,
		font: {size:12, color: "#9da3a9"}
		}
		});
		function showTooltip(x, y, contents) {
		$('<div id="tooltip">' + contents + '</div>').css( {
		position: 'absolute',
		display: 'none',
		top: y - 30,
		left: x - 50,
		color: "#fff",
		padding: '2px 5px',
		'border-radius': '6px',
		'background-color': '#000',
		opacity: 0.80
		}).appendTo("body").fadeIn(200);
		}
		var previousPoint = null;
		$("#statsChart").bind("plothover", function (event, pos, item) {
		if (item) {
		if (previousPoint != item.dataIndex) {
		previousPoint = item.dataIndex;
		$("#tooltip").remove();
		var x = item.datapoint[0].toFixed(0),
		y = item.datapoint[1].toFixed(0);
		var month = item.series.xaxis.ticks[item.dataIndex].label;
		showTooltip(item.pageX, item.pageY,
		item.series.label + " of " + month + ": " + y);
		}
		}
		else {
		$("#tooltip").remove();
		previousPoint = null;
		}
		});
		});
	div(style='display:none')
		script(src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540', language='JavaScript', charset='gb2312')
