doctype html
html.login-bg
	head
		title Detail Admin - Sign up
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		// bootstrap
		link(href='css/bootstrap/bootstrap.css', rel='stylesheet')
		link(href='css/bootstrap/bootstrap-responsive.css', rel='stylesheet')
		link(href='css/bootstrap/bootstrap-overrides.css', type='text/css', rel='stylesheet')
		// global styles
		link(rel='stylesheet', type='text/css', href='css/layout.css')
		link(rel='stylesheet', type='text/css', href='css/elements.css')
		link(rel='stylesheet', type='text/css', href='css/icons.css')
		// libraries
		link(rel='stylesheet', type='text/css', href='css/lib/font-awesome.css')
		// this page specific styles
		link(rel='stylesheet', href='css/compiled/signup.css', type='text/css', media='screen')
		// open sans font
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
		//if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
	body
		.header
			a(href='/')
				img.logo(src='img/logo.png')
		.row-fluid.login-wrapper
			.box
				.content-wrap
					h6 Sign Up
					input.span12(type='text', placeholder='E-mail address')
					input.span12(type='password', placeholder='Password')
					input.span12(type='password', placeholder='Confirm Password')
					.action
						a.btn-glow.primary.signup(href='/') Sign up
			.span4.already
				p Already have an account?
				a(href='signin') Sign in
		// scripts
		script(src='http://code.jquery.com/jquery-latest.js')
		script(src='js/bootstrap.min.js')
		script(src='js/theme.js')
		div(style='display:none')
			script(src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540', language='JavaScript', charset='gb2312')
