doctype
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')

    body
        p It's a little not so good.
        - for (var x = 0; x < 3; x++)
            li item

        form#myForm(action="/user/update" method="post")
          input(type='text', name='user[username]')
          input(type='text', name='user[userage]')
          input(type='text', name='user[usercourse]')
          input(type='submit', name='submit_form', value='Submit')
          input(onclick='submitdata()', value='ClickMe')

    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/js/note_c.js')

    script(type='text/javascript').
        //- change_note_state("58493eabd5d47f3948fe85ba", true)
        //- test()
        //- testNoteChange()
        
        var ourUrl = 'http://localhost:3000'
        function submitdata() {
          var frm = $('#myForm');
          //- console.log('data:', JSON.stringify(frm.serialize()));          
          $.ajax({
            type: frm.attr('method'),
            url: ourUrl + frm.attr('action'),
            data: $("#myForm").serialize(),
            dataType: 'json',
            success: function (response) {
              console.log('rtn msg:', response);
            }
          });
        }
